/* reset */
body, nav, ul, li, div, a {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

a {
  color: #A4D100;
  text-decoration: none;
  &:visited {
    color: #A4D100;
  }
  &:hover {
    color: #A4D100;
  }
}

/* reset end */

body {
  display: flex;
  flex-flow: row nowrap;
  background: #181818;
  & > nav {
    width: 320px;
    line-height: 40px;
    background: #323232;
    text-align: center;

    img {
      /* TODO */
    }
    .img {
      display: inline-block;
      width: 160px;
      height: 160px;
      margin: 20px;
      font-size: 18px;
      line-height: 160px;
      color: #A4D100;
      background-color: #4c4c4c;
      word-break: break-all;
      overflow: hidden;
      span {
        display: inline-block;
      }
    }

    a {
      display: block;
      &:hover {
        background: #4c4c4c;
      }
    }

    li.active {
      a {
        background: #A4D100;
        color: #323232;
      }
    }
  }

  & > div.content {
    width: calc(100vw - 320px);
    background: #181818;
    color: rgba(255, 255, 255, 0.7);
    padding: 20px;
  }
}

@media all and (max-width: 720px) {
  body > nav {
    position: absolute;
    left: 0;
    width: 0;
    width: 100vw;
    height: 40px;
    text-align: left;

    img {
      width: 40px;
      height: 40px;
      vertical-align: bottom;
      /* TODO */
    }
    .img {
      display: inline-block;
      width: 40px;
      height: 40px;
      line-height: 20px;
      margin: 0;
    }

    ul {
      display: inline-block;
      vertical-align: top;
      overflow: auto;
    }

    li {
      display: inline-block;
      a {
        display: inline-block;
        padding: 0 10px;
      }
      &.active {
        background: #f1ff1f;
      }
    }
  }

  body > div.content {
    padding-top: 60px;
    width: 100vw;
  }
}

.content {
  & > div {
    width: 100%;
    height: 100%;
    display: flex;
  }
  .index {
    .tip {
      padding: 20px;
      width: 100%;
      background: rgba(76, 76, 76, .76);
      border-radius: 10px;
      height: auto;
    }

    canvas.index-bg {
      position: absolute;
      top: 0;
      left: 330px;
      z-index: 0;
      pointer-events: none;
    }
    @media all and (max-width: 720px) {
      canvas.index-bg {
        top: 60px;
        left: 20px;
      }
    }
  }
  .friend {
    flex-flow: row;
    justify-content: space-around;
    .person {
      position: relative;
      width: 360px;
      height: 240px;
      margin-top: 20px;
      background: #fffccc;
      .avatar {
        height: 200px;
        border: 1px solid #fffccc;

        .img {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
        }
      }
      .link {
        position: absolute;
        width: 100%;
        bottom: 0;
        text-align: center;
        visibility: hidden;
        background: rgba(0, 0, 0, .6);
        height: 0;
        line-height: 40px;
        transition: height .4s linear;
        overflow: hidden;
      }
      &:hover {
        .link {
          visibility: visible;
          height: 40px;
        }
      }
    }
  }

  @media all and (max-width: 720px) {
    .friend {
      flex-flow: column;
      justify-content: flex-start;
      .person {
        width: 100%;
        height: 140px;
        .avatar {
          height: 100px;
        }
        .link {
          height: 40px;
          visibility: visible;
          line-height: 40px;
        }
      }
    }
  }

  .about {
    align-items: flex-start;
    flex-flow: column;
    .text__delete {
      text-decoration: line-through;
      color: #4c4c4c;
    }

    @media all and (max-width: 720px) {
      h1 {
        font-weight: normal;
      }
      p {
        font-size: 14px;
      }
    }
  }
}
