/* reset */
body, nav, ul, li, div, a {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

a {
  color: #00bcd4;
  text-decoration: none;
  &:hover {
    color: #80deea;
  }
  &:visited {
    color: #00bcd4;
  }
}

/* reset end */

body {
  display: flex;
  flex-flow: row nowrap;
  & > nav {
    width: 320px;
    line-height: 40px;
    background: rgba(255, 249, 226, 0.61);
    text-align: center;

    img {
      /* TODO */
    }
    .img {
      display: inline-block;
      width: 160px;
      height: 160px;
      margin: 20px;
      font-size: 10px;
      line-height: 160px;
      border: 1px solid #f9f6c6;
      background: #f9f6c6;
      overflow: hidden;
    }

    a {
      display: block;
    }
  }

  & > div.content {
    width: calc(100vw - 320px);
    background: #effffe;
    padding: 20px;
  }
}

@media all and (max-width: 720px) {
  body > nav {
    position: absolute;
    left: 0;
    width: 0;
    width: 100vw;
    height: 40px;
    text-align: left;

    img {
      width: 40px;
      height: 40px;
      vertical-align: bottom;
      /* TODO */
    }
    .img {
      display: inline-block;
      width: 40px;
      height: 40px;
      line-height: 20px;
      margin: 0;
    }

    ul {
      display: inline-block;
      vertical-align: top;
      overflow: auto;
    }

    li {
      display: inline-block;
      a {
        display: inline-block;
        padding: 0 10px;
      }
      &.active {
        background: #f1ff1f;
      }
    }
  }

  body > div.content {
    padding-top: 40px;
    width: 100vw;
  }
}

.content {
  & > div {
    width: 100%;
    height: 100%;
    display: flex;
  }
  .friend {
    flex-flow: row;
    justify-content: space-around;
    .person {
      position: relative;
      width: 360px;
      height: 240px;
      margin-top: 20px;
      background: #fffccc;
      .avatar {
        height: 200px;
        border: 1px solid #fffccc;

        .img {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
        }
      }
      .link {
        position: absolute;
        width: 100%;
        bottom: 0;
        text-align: center;
        visibility: hidden;
        background: rgba(0, 0, 0, .6);
        height: 0;
        line-height: 40px;
        transition: height .4s linear;
        overflow: hidden;
      }
      &:hover {
        .link {
          visibility: visible;
          height: 40px;
        }
      }
    }
  }

  @media all and (max-width: 720px) {
    .friend {
      flex-flow: column;
      justify-content: flex-start;
      .person {
        width: 100%;
        height: 140px;
        .avatar {
          height: 100px;
        }
        .link {
          height: 40px;
          visibility: visible;
          line-height: 40px;
        }
      }
    }
  }

  .about {
    justify-content: center;
    align-items: center;
  }
}
